.navbar {
    background-color: #4b4b4b;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .navbar button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #b0adad;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #d0d0d0;
  }
  
  .btn-back {
    margin-right: 10px;
    color: #fff;
  }
  
  .btn-patients {
    margin-left: 10px;
    color: #fff;
  }
  